.deck__container {
	@apply flex justify-center items-center h-full overflow-hidden md:-translate-y-14
}

.deck__stack {
	@apply absolute flex justify-center items-center size-full
}

.deck__card {
	@apply flex justify-center items-center rounded-2xl overflow-hidden bg-white z-50;
	width: 27%;
	height: 83%;
	/* @apply w-[28rem] h-[50rem]  */
	/* box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3); */
}

@screen md {
	.deck__card {
		width: 85%;
		height: 78%;
		/* @apply w-[28rem] h-[50rem]  */
		/* box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3); */
	}
}